# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp files in Mac
*.DS_Store

# Build directories
Debug
Release
build
CMakeLists.txt.user
doc/html
test/Debug
test/Release
demo/glfw/Debug
demo/glfw/Release
demo/qt5/qt5_demo.pro.user
